
<link rel="stylesheet" href="/css/home.css">
<%- include('../../views/partials/user/header') %>

<div class="hero">
    <div class="hero-image">
        <img src="/img/image13.png" alt="banner_image">
    </div>
</div>

<div class="main-content">
    <h2 class="section-title">Exclusive To You</h2>


    <div class="celebrity-products">
        <% products.forEach(product => { %>
          <% if (product.status === 'listed') { %>
            <div class="product-card">
              <button class="wishlist-btn">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                </svg>
              </button>
      
              <div class="product-image">
                <a href="/productViewPage?id=<%= product._id %>">
                  <img src="<%= product.productImage[0] %>" alt="<%= product.productName %>">
                </a>
              </div>
              <div class="product-info">
                <h3 class="product-title"><%= product.productName %></h3>
                <p class="product-description"><%= product.productDescription %></p>
                <p class="product-price">
                  ₹<%= product.variants[0].salePrice > 0 ? product.variants[0].salePrice : product.variants[0].regularPrice %>
                </p>
                <button href="/addToCart?id=<%= product._id %>" class="add-to-cart">ADD TO BAG</button>
              </div>
            </div>
          <% } %>
        <% }) %>
      </div>

   
      


<%-include("../../views/partials/user/footer")%>